<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>SMDM - Analysis</title>
</head>
<body class="bg-slate-200">
    <div class="bg-white h-full my-10 w-7/12 mx-auto p-10 rounded-lg shadow-lg">
        <a class="text-blue-400 text-lg mx-5 hover:underline underline-offset-4 hover:text-red-400" href="/">Home</a>
        <h2 class="text-2xl text-center ">Emotional Analysis of Covid-19 Tweets in the past 10 days</h2>
        <img class="w-9/12 mx-auto rounded shadow m-4 mt-10" src="/static/timeseries.png">
    </div>
</body>
</html>